/* ----------- CUSTOM PROPS ----------- */

:root{
  --ff-base: "Inter", sans-serif;
  
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-400: 0.875rem; /* 14px */
  --fs-600: 1.5rem;

  --clr-green-light: hsl(75, 94%, 57%);
  --clr-green-dark: hsl(142, 100%, 27%);

  --clr-white-100: hsl(0, 0%, 100%);
  --clr-white-200: hsl(0, 0%, 97%);
  --clr-white-300: hsl(0, 0%, 93%);

  --clr-grey-700: hsl(0, 0%, 20%);
  --clr-grey-800: hsl(0, 0%, 12%);
  --clr-grey-900: hsl(0, 0%, 8%);

  /* Default color theme */

  --clr-accent: var(--clr-green-dark);
  --clr-font: var(--clr-grey-900);
  --clr-font-hover: var(--clr-white-100);
  --clr-background-100: var(--clr-white-100);
  --clr-background-200: var(--clr-white-200);
  --clr-background-300: var(--clr-white-300);
  --clr-shadow-1: rgba(0, 0, 0, 0.1);
}

/* ----------- Dark mode theme ----------- */

.dark-mode{
  --clr-accent: var(--clr-green-light);
  --clr-font: var(--clr-white-300);
  --clr-font-hover: var(--clr-grey-900);
  --clr-background-100: var(--clr-grey-700);
  --clr-background-200: var(--clr-grey-800);
  --clr-background-300: var(--clr-grey-900);
  --clr-shadow-1: rgba(0, 0, 0, 0);
}


/* ----------- RESET ----------- */

*{
  margin:  0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

img{
  max-width: 100%;
  display: block;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}


/* ----------- UTILITY CLASSES ----------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.d-grid{
  display: grid;
}

.d-flex{
  display: flex;
}

.df-center{
  justify-content: center;
  align-items: center;
}

.img-container{
  overflow: hidden;
}

.button{
  --speed: .25s;

  cursor: pointer;
  padding: 1em;
  border-radius: .5em;
  background: var(--clr-background-100);
  transition: background-color .15s ease;
  position: relative;
  overflow: hidden;
}

.button span{
  position: relative;
  transition: color var(--speed) ease;
}

.button::before{
  content: "";
  position: absolute;
  background: var(--clr-accent);
  inset: 0;
  height: 200%;
  transform: translateY(-100%);
  border-radius: 0 0 50% 50%;
  transition: 
    transform var(--speed) ease-out;
}

.button:hover,
.button:focus-visible{
  color: var(--clr-font-hover);
}

.button:hover::before,
.button:focus-visible::before{
  transform: translateX(0%);
}


/* ----------- GLOBAL STYLES ----------- */

body{
  color: var(--clr-font);
  background: var(--clr-background-300);
  font-size: var(--fs-400);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
}


/* ----------- PROFILE CARD STYLES ----------- */

.profile{
  padding-block: 1.5rem;
  min-height: 100vh;
  min-height: 100svh;
}

.profile__card{
  width: min(85%, 24rem);
  padding: 2.5rem;
  border-radius: 1rem;
  text-align: center;
  gap: 1.75rem;
  background: var(--clr-background-200);
  box-shadow: 0 .5rem .5rem var(--clr-shadow-1);
}

.profile-pic{
  width: 5.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0 auto;
}

.profile-pic__img{
  width: 100%;
}

.profile__username{
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-600);
  margin-bottom: .25em;
}

.profile__location{
  color: var(--clr-accent);
  font-weight: var(--fw-semi-bold);
}

.profile__user-description{
  opacity: .7;
}

.profile__list{
  gap: 1rem;
  font-weight: var(--fw-semi-bold);
}

.profile__link{
  display: block;
  outline: none;
}


/* ----------- DARK MODE TOGGLE BUTTON ----------- */

.environmental-controls{
  padding-block: 2rem;
  justify-content: center;
}

.btn-toggle-dark-mode{
  position: relative;
  width: 3.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  background: var(--clr-background-100);
}

.btn-toggle-dark-mode svg{
  fill: var(--clr-font);
  display: block;
  position: absolute;
  width: 60%;
  transition: opacity .3s ease, rotate 1s ease;
}

.btn-toggle-dark-mode[aria-checked="false"] .icon--light-mode{
  opacity: 0;
}
.btn-toggle-dark-mode[aria-checked="false"] .icon--dark-mode{
  rotate: 360deg;
  opacity: 1;
}
.btn-toggle-dark-mode[aria-checked="true"] .icon--light-mode{
  rotate: 360deg;
  opacity: 1;
}
.btn-toggle-dark-mode[aria-checked="true"] .icon--dark-mode{
  opacity: 0;
}


/* ----------- MEDIA QUERIES ----------- */

@media screen and (min-width: 600px) {
  .profile{
    padding-block: .5rem;
  }

  .environmental-controls{
    padding: 0;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }
}
